* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    font-weight: 400;
    color: #5D5D7D;
}

.container {
    height: 100vh;
    width: 100vw;
}

.container-left {
    display: inline-block;
    width: 60%;
    margin-top: 240px;
    padding-left: 136px;
}


.container-right {
    display: inline-block;
    background: rgba(93, 93, 125, 0.16);
    height: 100vh;
    width: 40%;
    position: absolute;
}

img {
    position: relative;
    top: 55px;
    right: 130px;
}

h1 {
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    width: 368px;
}

p {
    font-size: 28px;
    line-height: 48px;
    opacity: 0.6;
    width: 540px;
    margin: 15px 0;
}

button {
    background: #9499EA;
    color: #ffffff;
    width: 269px;
    height: 62px;
    box-shadow: 0px 10px 24px rgba(148, 153, 234, 0.0979959);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 24px;
    line-height: 35px;
    align-items: center;
}

button:hover {
    opacity: 0.8;
}

button:active {
    opacity: .5;
}

a {
    margin-right: 41px;
    line-height: 41px;
    font-size: 28px;
    cursor: pointer;
    text-transform: capitalize;
}

a:nth-child(2) {
    opacity: 0.4;
}


a:hover {
    opacity: 0.4;
}

a:active {
    opacity: 0.8;
}

header {
    margin: 24px 0 0 54px;
}

@media screen and (max-width:1290px) {

.container-left {
    width: 72%;
    height: 50%;
    padding: 0;
    margin: 58px 53px 0 54px;

}

.container-right {
    display: block;
    height: auto;
    width: 100%;
    position: static;
    padding: 40px;
}

img {
    position: static;
    max-width: 90%;
}

header {
    display: none;
}

h1 {
    font-size: 36px;
    line-height: 52px;
    text-align: center;
    width: auto;
    margin:50px 53px;
}

p {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
    width: auto;
    margin: 15px 39px;
}

buttom {
    margin: 0 auto;
    display: block;
}


}